@model IEnumerable<StatNav.WebApplication.Models.MarketingModelVM>

@{
    ViewBag.Title = "Marketing Models";
}

<h4>Marketing Model</h4>
<partial name="_ExperimentTypeSelect" model="Model" />
<p>
    <a asp-controller="MarketingModel" asp-action="Create">Create New</a>
</p>
<partial name="_searchBox" />
<table class="table">
    <caption>List of Marketing Model</caption>
    <tr>
        <th scope="col">
            <a asp-controller="MarketingModel" asp-action="Index" asp-route-sortOrder="@ViewBag.IdSortParm" asp-route-searchString="@ViewBag.SearchString">
                ID
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        </th>
        <th scope="col">
            <a asp-controller="MarketingModel" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm" asp-route-searchString="@ViewBag.SearchString">
                Model
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-controller="MarketingModel" asp-action="Edit" asp-route-id="@item.Id">@item.ModelName</a>
            </td>
        </tr>
    }

</table>