@model IEnumerable<StatNav.WebApplication.Models.UXExperimentsVM>

@{
    ViewBag.Title = "UX Experiments";
}

    <h4>UX Experiments</h4>
@*<partial name="_ExperimentTypeSelect" model="Model" />*@
<p>
    <a asp-controller="UXExperiments" asp-action="Create">Create New</a>
</p>
<partial name="_searchBox" />
<table class="table">
    <caption>List of UX Experiments</caption>
    <tr>
        <th scope="col">
            <a asp-controller="UXExperiments" asp-action="Index" asp-route-sortOrder="@ViewBag.IdSortParm" asp-route-searchString="@ViewBag.SearchString">
                ID
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        </th>
        <th scope="col">
            <a asp-controller="UXExperiments" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm" asp-route-searchString="@ViewBag.SearchString">
                UX Experiments
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        </th>
        <th scope="col">
            <a asp-controller="UXExperiments" asp-action="Index" asp-route-sortOrder="@ViewBag.ElementSortParm" asp-route-searchString="@ViewBag.SearchString">
                UX Elements
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-controller="UXExperiments" asp-action="Edit" asp-route-id="@item.Id">@item.UXExperimentName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UXElements.UXElementName)
            </td>
        </tr>
    }

</table>